<h1 class="text-center">Grupo Yankee</h1>
<section>
		<div class="container">
			<div class="row">
				<div class="col">
					<!-- Card Flip -->
					<div class="card-flip">
						<div class="flip">
							<div class="front">
								<!-- front content -->
								<div class="card">
									<!--<img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180"
										style="height: 180px; width: 100%; display: block;" data-holder-rendered="true" src="./106.png">
								-->
									<img class="card-img-top" alt="100%x180" style=" width: 100%; display: block;"
										src="./img/106.png">
									<hr>
									<div class="card-block">
										<h2 class="card-title h4">Cristian Berner</h2>
										<p class="card-text">Bueno con el código, malo con la bebida.</p>
									</div>
								</div>
							</div>
							<div class="back">
								<!-- back content -->
								<div class="card">
									<div class="card-block">
										<h2 class="card-title h4">Cristian Berner</h2>
										<h3 class="card-subtitle text-muted h6">El Titan</h3>
									</div>
									<hr>
									<img class="card-img-top" alt="100%x180" style=" width: 100%; display: block;"
										src="./img/106.png">
									<hr>
									<div class="card-block">
										<p class="card-text">Bueno con el código, malo con la bebida.</p>
										<a href="#" class="card-link">Instagram</a>
										<a href="#" class="card-link">Twitter</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Card Flip -->
				</div>
				<div class="col">
					<!-- Card Flip -->
					<div class="card-flip">
						<div class="flip">
							<div class="front">
								<!-- front content -->
								<div class="card">
									<img class="card-img-top" alt="100%x180" style=" width: 100%; display: block;"
										src="./img/107.png">
									<hr>
									<div class="card-block">
										<h2 class="card-title h4">Marcos Burdaspar</h2>
										<p class="card-text">Siempre 5 pasos por detras de Cristian</p>
									</div>
								</div>
							</div>
							<div class="back">
								<!-- back content -->
								<div class="card">
									<div class="card-block">
										<h2 class="card-title h4">Marcos Burdaspar</h2>
										<h3 class="card-subtitle text-muted h6">El Pantera</h3>
									</div>
									<hr>
									<img class="card-img-top" alt="100%x180" style=" width: 100%; display: block;"
										src="./img/107.png">
									<hr>
									<div class="card-block">
										<p class="card-text">Siempre 5 pasos por detras de Cristian</p>
										<a href="#" class="card-link">Instagram</a>
										<a href="#" class="card-link">Twitter</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Card Flip -->
				</div>
				<div class="col">
					<!-- Card Flip -->
					<div class="card-flip">
						<div class="flip">
							<div class="front">
								<!-- front content -->
								<div class="card">
									<img class="card-img-top" alt="100%x180" style=" width: 100%; display: block;"
										src="./img/237.png">
									<hr>
									<div class="card-block">
										<h2 class="card-title h4">Celia Laguna</h2>
										<p class="card-text">Le gusta poner voces y beber cerveza</p>
									</div>
								</div>
							</div>
							<div class="back">
								<!-- back content -->
								<div class="card">
									<div class="card-block">
										<h2 class="card-title h4">Celia Laguna</h2>
										<h3 class="card-subtitle text-muted h6">La Máquina</h3>
									</div>
									<hr>
									<img class="card-img-top" alt="100%x180" style=" width: 100%; display: block;"
										src="./img/237.png">
									<hr>
									<div class="card-block">
										<p class="card-text">Le gusta poner voces y beber cerveza</p>
										<a href="#" class="card-link">Instagram</a>
										<a href="#" class="card-link">Twitter</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Card Flip -->
				</div>
			</div>
		</div>
	</section>