<header>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a href="?action=novedades" class="nav-item nav-link" id="navNovedades">Novedades</a>
                <a href="?action=buscar" class="nav-item nav-link" id="navBuscar">Buscar</a>
            </div>
            <div class="navbar-nav mx-auto">
                <!-- <a href="?action=novedades" class="navbar-brand">La séptima gema</a> -->
                <a href="?action=mainPage" ><img src="./img/gem2.svg" alt="gema oscura" style="height:40px"></a>
            </div>
            <div class="navbar-nav">
                <a href="?action=about" class="nav-item nav-link" id="navAbout">Sobre nosotros</a>
            </div>
            <div class="navbar-nav">
                <span class="nav-item">Conectado como ##USERNAME##</span>
            </div>
        </div>
    </nav>
</header>