<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 text-center">
                <img src="./img/gem2.svg" alt="gema oscura" class="img-fluid" id="imgPortada">
            </div>
            <div class="col-lg-10">
                <h1>La séptima gema</h1>
                <p class="h3 text-muted">
                    Página web para descubrir tus películas favoritas.
                    Puedes comentar y valorar, así como ver las valoraciones de otros usuarios.
                </p>
            </div>
        </div>
    </div>
</div>
<h2>Top tendencias esta semana</h2>
<div class="container-fluid">
    <div class="row">
        <div class="card-group" id="top5">
        </div>
    </div>
</div>